# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage
lang: en

# Change to your timezone
timezone: Africa/Nairobi

# --------------------------
# jekyll-seo-tag settings
# --------------------------

title: "Jane Kamondo Blogs"
tagline: "Data Science Blogs | AI | ML | DL | Data Analysis"
description: "My Data Science, AI, ML and DL journey"

# Fill in the protocol & hostname for your site (no trailing slash)
url: "https://wambuik-97.github.io"
baseurl: ""

github: "wambuik-97"

twitter:
  username: twitter_username

social:
  name: "Jane Wambui Kamondo"
  email: janekamondo757@gmail.com
  links:
    - https://twitter.com/username
    - https://github.com/wambuik-97

# Site Verification Settings
webmaster_verifications:
  google:
  bing:
  alexa:
  yandex:
  baidu:
  facebook:

# --------------------------
# Web Analytics Settings
# --------------------------

analytics:
  google:
    id:
  goatcounter:
    id:
  umami:
    id:
    domain:
  matomo:
    id:
    domain:
  cloudflare:
    id:
  fathom:
    id:

# Page views settings
pageviews:
  provider:

# Theme mode
theme_mode:

# CDN endpoint
cdn:

# Sidebar avatar
avatar:

# Social preview image
social_preview_image:

# Table of contents
toc: true

# --------------------------
# Comments
# --------------------------

comments:
  provider:
  disqus:
    shortname:
  utterances:
    repo:
    issue_term:
  giscus:
    repo:
    repo_id:
    category:
    category_id:
    mapping: pathname
    strict: 0
    input_position: bottom
    reactions_enabled: 1

# --------------------------
# Assets
# --------------------------

assets:
  self_host:
    enabled:
    env:

# --------------------------
# PWA
# --------------------------

pwa:
  enabled: true
  cache:
    enabled: true
    deny_paths: []

# Pagination
paginate: 10

# --------------------------
# Markdown & Syntax Highlighting
# --------------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# --------------------------
# Collections
# --------------------------

collections:
  tabs:
    output: true
    sort_by: order

# --------------------------
# Defaults
# --------------------------

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/

  - scope:
      path: _drafts
    values:
      comments: false

  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

# --------------------------
# Sass & HTML Compression
# --------------------------

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs:
      - development

# --------------------------
# Excludes
# --------------------------

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

# --------------------------
# Archives
# --------------------------

jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
